.toilet-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
  gap: 0.5rem;
  padding-left: 0;
  height: 100%;

  li {
    list-style: none;
  }
}

.toilet-card {
  background-color: oklch(0.995 0 0);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  padding: 1rem;
  border: 1px solid oklch(0 0 0 / 0.1);
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px oklch(0 0 0 / 0.1);

  .toilet-card-name {
    margin-bottom: 0;
  }

  .toilet-card-address {
    margin-bottom: 0;
  }
}

.create-toilet-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 320px;
  padding: 1rem;
  margin-inline: auto;
  border: 1px solid oklch(0 0 0 / 0.1);
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px oklch(0 0 0 / 0.1);

  label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: 500;
  }
}
