@page
@using ToiletFinder3000.Model
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div>
	<h1>Welcome</h1>
	<ul class="toilet-list">
		@foreach (Toilet toilet in Model.Toilets)
		{
		<li>
			<div class="toilet-card">
				<h2 class="toilet-card-name">@toilet.NickName</h2>
				<address class="toilet-card-address">
					@toilet.Address.City, @toilet.Address.PostalCode @toilet.Address.City
				</address>
			</div>
		</li>
		}
	</ul>
</div>
